
<div id="movieCard" class="col-xs-12">
  <div class="col-xs-3 card-img">  
    <img ng-src="{{movie.image}}">
  </div>
  <div class="col-xs-9 card-block">
    <h2 class="card-title"><span class="movieId">#{{movie.id}}</span> {{movie.title}} ({{movie.year}})</h2>
    <p class="card-text"><span>Director:</span> {{movie.director}}</p>
    <p class="card-text"><span>Stars:</span> {{movie.actors}}</p>

    <div ng-show="main.userLoggedIn" class="movieButtons"><button ng-click="main.openDeleteMovieModal(movie)" class="btn deleteBtn">DELETE</button><button ng-click="main.openEditMovieModal(movie)" class="btn editBtn">EDIT</button></div>
  </div>

  <p class="card-date">Added: {{main.fromStringToDate(movie.created_at) | date: 'MMM d, y'}}</p>
</div>
