#movieCard {
	position: relative;
	margin: 10px 0;
	padding: 10px;
	border: 2px solid gray;
	border-radius: 10px; 

	img {
		height: 250px;
		width: auto;
	}

	.movieId {
		margin-right: 10px;
	}

	.card-title {
		margin-bottom: 50px;
	}

	.movieButtons {
		margin-top: 50px;
	}

	.deleteBtn {
		background-color: red;
		color: white;
	}

	.editBtn {
		margin-left: 20px;
		background-color: purple;
		color: white;
	}
	span {
		font-weight: bold;
	}

	.card-date {
		position: absolute;
		margin: 0;
		color: gray;
		right: 50px;
		bottom: 30px;
	}
}
