<nav id="navigation" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        MovieBase
      </a>
    </div>
    <div class="log navbar-right">
    	<a ng-hide="navig.userLoggedIn" href="#" >Login</a>
    	<span ng-show="navig.userLoggedIn"><i class="glyphicon glyphicon-user"></i> Welcome, {{navig.username}} </span>
    	<span ng-show="navig.userLoggedIn"><i class="glyphicon glyphicon-log-out"></i> <a ng-click="navig.logOut()" href="#">Logout</a></span>
    	
    </div>
  </div>
</nav>
