<div id="navigation" layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <a class="brand" flex-offset="20" ng-click="navig.goToMovies()" href="">
        MovieBase
      </a>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <div class="log">
        <a ng-hide="navig.userLoggedIn" ng-click="navig.logIn()" href="" >Login</a>
        <span ng-show="navig.userLoggedIn"><ng-md-icon icon="account_circle" size="22"></ng-md-icon> Welcome, {{navig.username}} </span>
        <span ng-show="navig.userLoggedIn"><ng-md-icon icon="logout" size="22"></ng-md-icon> <a ng-click="navig.logOut()" href="#">Logout</a></span>
      </div>
      <span flex="20"></span>
    </div>
  </md-toolbar>
</div>