#login {
	
	.errorMessage {
		text-align: center;
		padding: 5px 50px;
		background-color: #ff4d4d;
		span {
			color: white;
			font-weight: bold;
		}
		i {
			margin-right: 10px;
		}
		
	}

	h2 {
		text-align: center;
		font-size: 6rem;
		margin-top: 100px;
		margin-bottom: 40px;
		color: gray;
	}

	form {
		input {
			border-style: none;
			box-shadow: none;
			border-bottom-style: solid;
			border-radius: 0;		
		}
	}

	.row {
		margin: 0;
	}

	.error {
		margin-top: 50px;
		text-align: center;
		color: red;
	}

	.signInBtn {
		padding: 0;
		button {
			padding: 8px;
			background-color: #2196f3;
			color: white;	
		}
	}

}
