<div id="login" layout="column">

  <movie-base-navbar> </movie-base-navbar>

  <!-- ng-show="login.isError" -->
  <div>
    <div flex-offset="25" flex="50" class="errorMessage">
      <span><ng-md-icon icon="report_problem"></ng-md-icon> {{login.errorMessage}}, please login again</span>
    </div>
  </div>



  <div>
    <h2>Login</h2>


    <form flex-offset="35" flex="30" role="form" layout="column">
      <md-input-container>
        <input ng-model="login.logInfo.email" type="email" placeholder="Email">
      </md-input-container>
      <md-input-container>
        <input ng-model="login.logInfo.password" type="password" placeholder="Password">
      </md-input-container>
      <md-button ng-click="login.logIn(login.logInfo)" class="signInBtn"> SUBMIT </md-button>

      <p ng-show="login.loginError" class="error">Please provide valid username and password</p>

    </form>

  </div>
</div>

