#main {
	
	form {
		padding: 0;
		margin-bottom: 20px;
	}

	table, td, th {
	    border: 1px solid black;
	    border-collapse: collapse;
	}
	
	td, th {
	    padding: 8px;
	}

	th {
		white-space: nowrap;
	}

	img {
		height: 100px;
		width: auto;
	}

	i {
		margin-left: 5px;
	}

	.deleteBtn {
		background-color: red;
		color: white;
	}

	.editBtn {
		margin-top: 20px;
		background-color: purple;
		color: white;
	}

	.spinner {
		height: 200px;
		width: 200px;
		margin: 200px auto 0 auto;
		img {
			height: 200px;
			width: 200px;
		}
	}



}
